<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Designation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <form class="d-flex" role="search">
                    <input [(ngModel)]="searchOne" name="searchOne" class="form-control me-2" type="search"
                        placeholder="Search" aria-label="Search">
                </form>
            </td>
            <td>
                <form class="d-flex" role="search">
                    <input [(ngModel)]="searchTwo" name="searchTwo" class="form-control me-2" type="search"
                        placeholder="Search" aria-label="Search">
                </form>
            </td>
            <td>
                <form class="d-flex" role="search">
                    <input [(ngModel)]="searchThree" name="searchThree" class="form-control me-2" type="search"
                        placeholder="Search" aria-label="Search">
                </form>
            </td>
        </tr>
        <tr *ngFor="let item of data | filter:[searchOne,searchTwo,searchThree]">
            <th scope="row">{{ item.name }}</th>
            <td>{{ item.company.name}}</td>
            <td>{{ item.company.designation}}</td>
        </tr>
    </tbody>
</table>